---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Minimal Mistakes base styles
@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

// Place any custom overrides in _sass/custom.scss
